<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>
    <% for( let i = 0; i < cars.length; i++ ) { %>
        <p>Carro</p>
        <p>Modelo <%= cars[i].modelo %> </p>
        <p>Marca <%= cars[i].marca %> </p>
        <p>Ano <%= cars[i].ano %> </p>
        <p>Cor <%= cars[i].cor %> </p>
        <p></p>
        </br>
    <% } %>
</body>
</html>