<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Editar Senha</title>
    <script>
      function verificarSenhas() {
        if (senha.value == "") {
          document.getElementById("senhas").innerHTML = "Campo Vazio";
          document.getElementById("senhas").style.color = "red";
        }
        if (conf_senha.value == "") {
          document.getElementById("erro").innerHTML = "Campo Vazio";
          document.getElementById("erro").style.color = "red";
        }
        if (senha.value != conf_senha.value) {
          document.getElementById("erro").innerHTML = "Senhas são diferentes";
          document.getElementById("erro").style.color = "red";
          cadastrar.disabled = true;
        }
        if (senha.value == conf_senha.value) {
          document.getElementById("erro").innerHTML = "";
          cadastrar.disabled = false;
        }
      }
    </script>
  </head>
  <body>
    <div class="container" style="background-color: grey; height: 2000px">
      <h1
        style="
          background-color: orange;
          border: 5px solid black;
          border-radius: 10px;
        "
      >
        Editar Senha
      </h1>
      <div class="form" style="margin-left: 30%">
        <form action="/signup" method="POST">
          <div class="row-cols-md-2">
            <div class="col">
              <label for="password">Senha Antiga:</label>
              <input
                type="password"
                name="password"
                id="senha"
                class="form-control"
                onchange="verificarSenhas()"
              />
              <span id="senhas"></span>
            </div>
            <div class="col">
              <label for="password">Nova Senha:</label>
              <input
                type="password"
                name="password"
                id="senha"
                class="form-control"
                onchange="verificarSenhas()"
              />
              <span id="senhas"></span>
            </div>
            <div class="col">
              <label for="confirmPassword">Confirmar Senha:</label>
              <input
                type="password"
                name="confirmPassword"
                id="conf_senha"
                class="form-control"
                onchange="verificarSenhas()"
              />
              <span id="erro"></span>
            </div>
          </div>
          <br />
          <a href="/" class="btn btn-danger" id="">Cancelar</a>
          <button type="submit" class="btn btn-primary" id="cadastrar" disabled>
            Cadastrar
          </button>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
