<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form1" action="/form-cadastro-users" method="POST">
        <h3>Cadastro de Usuarios</h3>
        <label for="cadastro">Cadastro</label>
        <label for="username">Nome</label>
        <input type="text" name="username" id="username">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" >
        <label for="data">Data de Nascimento</label>
        <input type="data" name="data" id="data" >
        <label for="genero">Genero</label>
        <input type="text" name="genero" id="genero" >
        <label for="password">Senha</label>
        <input type="text" name="password" id="senha" >
        <label for="confirmPassword">confirmação de Senha</label>
        <input type="text" name="confirmPassword" id="confirmacaoSenha" >
        <input type="submit" name="submit">
    </form>
</body>
</html>