<!DOCTYPE html>
<html>
    <head>
        <title>Express - Cookies</title>
    </head>
    <body>

        <h1>Express - Cookies</h1>
        <h2>Admin - Home</h2> 
        <p> Nome <%= user.username%></p>
        <p> E-mail <%= user.email%></p>
        <a href="http://localhost:3000/home"> HOME </a>
    </body>
</html>